# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

# google
# client ID 1031135310124-1u5q6qr36l3l8a1k49fpb7p0jtbni1c4.apps.googleusercontent.com

# client secret QrycCM3fT92c6O78KY2A-Uh_