.quote{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 50px;
    /* flex-wrap: wrap; */
}

sub{
    vertical-align: baseline;
}

.quote-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn{
    border-radius: 10%;
    background-color: #607D8B;
    color: black;
    
}

.btn:hover {
    background-color: #CFD8DC
} 