.quote{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 50px;
    /* flex-wrap: wrap; */
}

sub{
    vertical-align: baseline;
}

.quote-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
/* .quote-labels{
    display: flex;
    align-items: center;
} */