.jobform{
    display: flex;
    justify-content: center;
    text-align: left;
    /* flex-wrap: wrap; */
}


.job-input{
    height: 5%;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn{
    border-radius: 10%;
    background-color: #607D8B;
    color: black;
    
}

.btn:hover {
    background-color: #CFD8DC
} 