.employees{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;
}

.employeeInfo{
    padding: 5px;
    margin: 0 auto;
    
}

.employeeList{
    padding: 10px;
    /* border: 1px solid black; */
}